*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 248, 255);
}
/* shared section */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav section */
.nav-container{
    margin-top: 2.7rem;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-container {
    display: flex;
    gap: 45px;
}
.nav-list{
    text-decoration: none;
    color:rgb(37, 36, 50);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
.ul-container li:nth-child(4) .nav-list{
       font-weight: 400;
       display: flex;
       gap: 5px;
       align-items: center;
}
.ul-container li:nth-child(2) .nav-list,
.ul-container li:nth-child(3) .nav-list {
  color:rgb(137, 135, 161);
  font-weight: normal;
}
nav ul li{
    list-style: none;    
}

/* nav section mobile responsive  */
@media screen and (max-width:576px) {
     .ul-container li:nth-child(1),
     .ul-container li:nth-child(2),
     .ul-container li:nth-child(3){
          display:none;
     }
    .nav-container{
        justify-content: space-between;
        margin-right: 16px;
        margin-left: 16px;
    }
    .nav-logo{
        max-width: 70px;
        height: auto;
    }
    .ul-container{
        gap: 20px;
    }
}

/* hero section */
.hero-img{
    max-width: 100%;
    height: auto;
    flex: 1;
}
.hero-container{
    flex: 1;
}

.hero-section{
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.hero-title{
    font-family: 'Noto Serif'; 
    font-size: 65px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.hero-description{
    color:rgba(0, 0, 0, 0.5) ;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    margin-top: 13px;
}
.text-color{
    color: rgb(233, 90, 8);
}

/* hero section mobile responsive  */
@media screen and (max-width:576px) {
.hero-section{
    flex-direction: column-reverse;
    margin-top: 28px;
}
.hero-title{
    margin-top: 28px;
    font-size: 22px;
}
.hero-container{
    padding: 0 16px;
}
.hero-description{
    font-size:14px ;
}
}

/* plants cart section */
.plant-container{
    margin-top: 120px;
}
.plant-title{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Noto Serif';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.plant-subtitle{
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
}
.cart-img{
    max-width: 100%;
    height: auto;
    flex: 1;
}
.cart-title{
    color: rgb(17, 17, 17);
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 500;
}
.plant-price{
    color: rgb(17, 17, 17);
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 700;
}
.cart-btn{
    border: none;
    background: rgb(233, 90, 8);
    width: 100%;
    padding: 26px 20px 26px 20px;
    margin-top: 5px ;
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
    color:rgb(255, 255, 255) ;    
}
.cart-list{
    display: grid;
    text-align: center;
    gap: 20px;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
/* plants cart section mobile responsive  */
@media screen and (max-width:576px) {
.plant-container{
        margin-top:65px;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 0 16px;
}
.plant-title{
    font-size: 24px;
     margin-bottom: 0px;
}
.plant-subtitle{
    font-size: 14px;
    margin:0px 28px 28px;
}
}

/* flower & plants lover section */ */
.flower-img {
  width: 100%;
  height: auto;   
}
.badge-img {
  position: absolute;
  top: -130px;
  left: 343px;
  background: transparent;
  width: 286px;
  height: auto;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}
.plants-lover-section{
    margin-top: 210px;
    margin-bottom: 133px;
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
}
.f-l-container{
    flex: 1;
    margin-bottom:50px ;
}
.f-l-title{
    color: rgb(0, 0, 0);
    font-family: 'Noto Serif';
    font-size: 3.12rem;
    font-weight: 700;
    padding:2.5rem 0;
    
}
.list-item{
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Inter';
    font-size:1.37rem;
    font-weight: 400;
    margin-left: 30px;
}
.f-l-list{
    display: flex;
    flex-direction: column;
    gap: 3.12rem;
}

/* flower lover section mobile responsive  */
@media screen and (max-width:576px) {
.badge-img{
    display: none;
}
.flower-img{
    width: 100%;
}
.plants-lover-section{
    margin-top: 41px;
    margin-bottom: 18px;
}
.plants-lover-section{
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.12rem;
    margin-bottom: 143px;
}
.f-l-container{
    margin-top: 2px;
}
.f-l-title{
   font-size: 1.5rem;
   margin-bottom: 20px;
   padding: 0;
}
 .list-item {
     font-size: 14px;
}
}

/* latest deal section */
.deal-section-title{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Noto Serif';
    font-size: 3.12rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.deal-section-subtitle{
    text-align: center;
    margin-bottom: 120px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Inter';
    font-size:1.33rem;
    font-weight: 400;
}
.card-layout-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1.75rem;
   height: 423px;
}

.card-layout-container1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    height: 423px;
   
}
.card{
       
     width: 100%;
     max-width: 360px;
     height: auto;
     max-width: 366.22px;
     background-color: rgba(0,0,0,0.5);
     background-blend-mode: darken;
     background-size: cover;
     position: relative;
     color: rgb(255, 255, 255);
}
.card-layout1{
      background-image: url(./assets/deal-ana.png);
      border-radius: 1.25rem;
}
.card-layout1 h3{
    position: absolute;
    top: 35%;
    left: 20%;
    background: transparent; 
    font-family: 'Noto Serif';
    font-size: 1.25rem;
    font-weight: 700;
}
.card-layout1 p{
    position: absolute;
    top: 60%;
    left: 40%;
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    font-family: 'Inter';
   font-size: 1rem;
   font-weight: 600;
}
.card-layout2{
    background-image: url(./assets/deal-bloom.png);
     border-radius: 1.25rem;
}
.card-layout2 h3{
    position: absolute;
    top: 35%;
    left: 23%;
    background: transparent; 
    font-family: 'Noto Serif';
    font-size: 1.25rem;
    font-weight: 700;
}
.card-layout2 p{
    position: absolute;
  top: 60%;
    left: 42%;
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    font-family: Inter;
   font-size: 1rem;
   font-weight: 600;
}
.card-layout-container2{
    background-image: url(./assets/deal-zabo.png);
    width: 753px;
    height: 100%;
    border-radius: 1.25rem;
    position: relative;
    color: rgb(255, 255, 255);
     background-color: rgba(0,0,0,0.5);
     background-blend-mode: darken;
     background-size: cover;
}
.card-layout-container2 h3{
    position: absolute;
    top: 40%; 
    left: 20%; 
    background: transparent; 
    font-family: 'Noto Serif';
    font-size: 2.45rem;
    font-weight: 700;
}
.card-layout-container2 p{
    position: absolute;
    top: 58%;
    left: 38%;
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    font-family: Inter;
   font-size: 1.9rem;
   font-weight: 600;
}

/* latest-deal-section responsive */
@media screen and (max-width:576px){
    .latest-deal-section{
        
        place-items: center;
    }
      .card-layout-container,
      .card-layout-container2{
          display: grid;
          grid-template-columns: 1fr;
          height: auto;
        
      }

      .card-layout-container2{
        width: 360px;
        height: 177px; 
      }
      .card-layout-container2 h3{
        font-size: 1.25rem;
      }
       .card-layout-container2 p{
        font-size: 16px;
       }
       .deal-section-title{
        font-size: 1.5rem;
       }
       .deal-section-subtitle{
        font-size: 14px;
        margin-bottom: 46px;
        padding: 20px;
       }

}
