*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 248, 255);
}
/* shared section */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav section */
.nav-container{
    margin-top: 2.7rem;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 45px;
}
.nav-list{
    text-decoration: none;
    color:rgb(37, 36, 50);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
ul li:nth-child(4) .nav-list{
       font-weight: 400;
       display: flex;
       gap: 5px;
       align-items: center;
}
ul li:nth-child(2) .nav-list,
ul li:nth-child(3) .nav-list {
  color:rgb(137, 135, 161);
  font-weight: normal;
}
nav ul li{
    list-style: none;    
}

/* nav section mobile responsive  */
@media screen and (max-width:576px) {
     ul li:nth-child(1),
     ul li:nth-child(2),
     ul li:nth-child(3){
          display:none;
     }
    .nav-container{
        justify-content: space-between;
        margin-right: 16px;
        margin-left: 16px;
    }
    .nav-logo{
        max-width: 70px;
        height: auto;
    }
    ul{
        gap: 20px;
    }
}

/* hero section */
.hero-img{
    max-width: 100%;
    height: auto;
    flex: 1;
}
.hero-container{
    flex: 1;
}

.hero-section{
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.hero-title{
    font-family: 'Noto Serif'; 
    font-size: 65px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.hero-description{
    color:rgba(0, 0, 0, 0.5) ;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    margin-top: 13px;
}
.text-color{
    color: rgb(233, 90, 8);
}

/* hero section mobile responsive  */
@media screen and (max-width:576px) {
.hero-section{
    flex-direction: column-reverse;
    margin-top: 13px;
}
.hero-title{
    margin-top: 28px;
    font-size: 22px;
}
.hero-container{
    margin-left: 16px;
    margin-right: 17px;
}
.hero-description{
    font-size:14px ;
}
}

/* plants cart section */
.plant-container{
    margin-top: 120px;
}
.plant-title{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Noto Serif';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.plant-subtitle{
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
}
.cart-img{
    max-width: 100%;
    height: auto;
    flex: 1;
}
.cart-title{
    color: rgb(17, 17, 17);
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 500;
}
.plant-price{
    color: rgb(17, 17, 17);
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 700;
}
.cart-btn{
    border: none;
    background: rgb(233, 90, 8);
    width: 100%;
    padding: 26px 50px 26px 50px;
    margin-top: 5px ;
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
    color:rgb(255, 255, 255) ;    
}
.cart-list{
    display: grid;
    text-align: center;
    gap: 20px;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
